= simple_form_for [@treatment, @question] do |f|
  = f.input :question, required: true
  = f.input :answer_type, required: true, collection: Question.answer_types.keys, include_blank: false
  = f.input :low_threshold, required: false
  = f.input :high_threshold, required: false
  = f.input :risky_keywords, required: false, placeholder: 'Separate risky keywords with comma', input_html: { value: (f.object.risky_keywords.empty? ? '' : f.object.risky_keywords.join(', ')) }
  = f.submit class: 'btn btn-primary'