%tr{'data-link': treatment_question_path(@treatment, question)}
  %td
    = question.id
  %td
    = question.question
  %td
    = question.answer_type.humanize
  %td
    = question.risky_keywords.join(', ')
  %td
    = question.low_threshold
  %td
    = question.high_threshold
  %td
    - if policy(question).edit?
      = link_to 'Edit', edit_treatment_question_path(@treatment, question), class: 'btn-sm btn-primary'
    - if policy(question).destroy?
      = link_to 'Delete', treatment_question_path(@treatment, question), method: :delete, class: 'btn-sm btn-danger'

