= content_for :header_title do
  = "#{@treatment.problem} - Questions"

- breadcrumb :questions, @treatment.id

- if @questions.any?
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Question
    %tbody
      = render @questions
- else
  = render 'shared/no_records', text: 'There is no questions for this treatment.'
