= content_for :header_title do
  = "#{@treatment.problem} - Questions"

- breadcrumb :questions, @treatment.id

- if @questions.any?
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Question
        %th Answer type
        %th Risk keywords
        %th Low threshold
        %th High threshold
        %th
    %tbody
      = render @questions
- else
  = render 'shared/no_records', text: 'There is no questions for this treatment.'

%br/
- if policy(@treatment.questions.build).new?
  = link_to 'New Question', new_treatment_question_path(@treatment.id), class: 'btn btn-primary'
