= content_for :header_title do
  = @question.question

- breadcrumb :question, @treatment.id, @question.id

- if @question.number?
  = line_chart line_chart_data(@question.answers, :answer), options={}
- elsif @question.string?
  = line_chart line_chart_data(@question.answers, :sentiment), options={}
- else
  -# display no chart

- if @question.answers.any?
  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Date
        %th Answer
    %tbody
      = render @question.answers
- else
  = render 'shared/no_records', text: 'There is no answers for this question.'