= content_for :header_title do
  = @question.question

- breadcrumb :question, @treatment.id, @question.id

- if @question.answers.any?
  = render 'chart'

  %table.table.table-striped
    %thead
      %tr
        %th ID
        %th Date
        %th Answer
        %th Keywords
        %th Sentiment
    %tbody#answers{"data-channel" => "question", "data-question-id" => @question.id}
      = render @question.answers
- else
  = render 'shared/no_records', text: 'There is no answers for this question.'