- content_for :header_title do
  Update my account

- breadcrumb :update_my_account

.row
  .col-md-4
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|

      = f.input :name, required: true
      = f.input :email, required: true

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}

      %p Leave these fields blank if you don't want to change your password.

      = f.input :password
      = f.input :password_confirmation

      -#%p Fill out these fields with Athenahealth credentials.
      -#
      -#= f.input :athena_id, label: 'Athena ID'
      -#= f.input :athena_secret, label: 'Athena Secret'

      %p You must enter your current password to make changes.

      = f.input :current_password, required: true

      = f.submit 'Update', class: 'btn btn-primary'

      %br/
      %br/

%h3 Cancel Account
%p Unhappy? We'll be sad to see you go.

= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger'
