%tr
  %td= insurance_package.name
  %td= number_to_percentage(insurance_package.percentage, precision: 2)
  %td= insurance_package.phone
  %td= insurance_package.insuranceproducttypename
  %td= insurance_package.state
  %td= insurance_package.zip
  %td= insurance_package.city
  %td= insurance_package.address
