%tr
  %td
    = link_to department.departmentid, practice_department_path(params[:practice_id], department.departmentid)
  %td
    = department.state
  %td
    = department.city
  %td
    = department.providergroupname
  %td
    = department.address
  %td
    = department.clinicals
  %td
    = department.patientdepartmentname
  %td
    = department.name
  %td
    = department.placeofservicetypename
  %td
    = department.phone
  %td
    = department.zip
