<%= @department.name %>
<h1>Patients</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Date of birth</th>
      <th>Address</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @patient_collection.patients.each do |patient| %>
      <tr>
        <td><%= patient.patientid %></td>
        <td><%= patient.firstname %></td>
        <td><%= patient.lastname %></td>
        <td><%= patient.email %></td>
        <td><%= patient.dob %></td>
        <td><%= patient.address1 %></td>
        <td><%= patient.status %></td>
        <td><%= link_to 'Delete', practice_department_patient_path(params[:practice_id], params[:id], patient.patientid), method: :delete %></td>
        <td><%= link_to 'Show', practice_department_patient_path(params[:practice_id], params[:id], patient.patientid) %></td>
        <td><%= link_to 'Edit', edit_practice_department_patient_path(params[:practice_id], params[:id], patient.patientid) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New patient', new_practice_department_patient_path(params[:practice_id], params[:id]) %>
</br>

<% if @patient_collection.next %>
  <%= link_to 'Next page', practice_department_path(params[:practice_id], params[:id], offset: offset(@patient_collection.next)) %>
<% end %>

<% if @patient_collection.previous %>
  <%= link_to 'Previous page', practice_department_path(params[:practice_id], params[:id], offset:  offset(@patient_collection.previous)) %>
<% end %>
