%tr
  %td
    = answer.id
  %td
    = answer.created_at.strftime('%m/%d/%Y')
  %td
    = answer.answer
  %td
    = I18n.t(answer.sms_notification_sended.to_s)
  %td
    = alchemy_keywords(answer.alchemy)
  %td
    = alchemy_sentiment(answer.alchemy)

