%tr
  %td
    = answer.id
  %td
    = answer.created_at.strftime('%m/%d/%Y')
  %td
    = answer.answer
  %td
    = answer.alchemy.try(:keywords).map{|e| e['text']}
  %td
    = answer.alchemy.try(:sentiment)

