%tr{'data-link': (practice_department_patient_path(params[:practice_id], params[:department_id], patient.patientid) if policy(:patient).show?)}
  %td= patient.patientid
  %td= patient.firstname
  %td= patient.lastname
  %td= patient.email
  %td= patient.dob
  %td= patient.address1
  %td= patient.status.humanize
  %td.actions
    - unless User.find_by_patient_id(patient.patientid)
      - if policy(:patient).invite?
        = link_to 'Invite', invite_practice_department_patient_path(params[:practice_id], params[:department_id], patient.patientid), method: :post, class: 'btn-sm btn-success'
    - if policy(:patient).destroy?
      = link_to 'Delete', practice_department_patient_path(params[:practice_id], params[:department_id], patient.patientid), method: :delete, class: 'btn-sm btn-danger'
    - if policy(:patient).edit?
      = link_to 'Edit', edit_practice_department_patient_path(params[:practice_id], params[:department_id], patient.patientid), class: 'btn-sm btn-primary'
