= content_for :header_title do
  Edit patient

- breadcrumb :edit_patient, params[:practice_id], params[:department_id]

.row
  .col-md-4
    = render 'error_messages'

    = simple_form_for(@patient, url: practice_department_patient_path, method: :put) do |f|
      = render 'form_fields', f: f
      = f.submit 'Update patient', class: 'btn btn-primary'
