%tr{'data-link': practice_path(id: practice.practiceid) }
  %td= practice.practiceid
  %td= practice.name
  %td= I18n.t(practice.hascommunicator.to_s)
  %td= I18n.t(practice.iscoordinatorsender.to_s)
  %td= I18n.t(practice.iscoordinatorreceiver.to_s)
  %td= I18n.t(practice.hascollector.to_s)
