.login-container.animate-panel
  .row
    .col-md-12
      .text-center.m-b-md
        %h3 Sign in
        %small Please fill the form to sign in to your account
      .hpanel
        .panel-body
          = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

            = f.input :email, placeholder: 'example@gmail.com', required: true
            = f.input :password, placeholder: '******', required: true

            - if devise_mapping.rememberable?
              .checkbox
                = f.check_box :remember_me, class: 'i-checks', label: 'Remember me'
                Remember me
                %p.help-block.small (if this is a private computer)

            = f.submit 'Sign in', class: 'btn btn-success btn-block'

            %br/

            - if devise_mapping.registerable?
              = link_to 'Sign up', new_registration_path(resource_name), class: 'btn btn-default btn-block'

            - if devise_mapping.recoverable?
              = link_to "Forgot password?", new_password_path(resource_name), class: 'btn btn-danger btn-block'
