= content_for :header_title do
  New Appointment - Set Appointment Slot

- breadcrumb :new_appointment, params[:practice_id]

.row
  .col-md-4
    = simple_form_for :appointment, url: wizard_path, method: :put do |f|
      = f.input :appointment_id, as: :select, collection: @appointment_slots, label_method: lambda { |appointment| "#{appointment.date} - #{appointment.starttime} - #{appointment.duration}" }, value_method: :appointmentid, input_html: { name: 'appointment_id' }, required: true
      = hidden_field_tag(:patient_appointment_reason_id, params[:patient_appointment_reason_id])
      = f.submit 'Book visit', class: 'btn btn-primary'