!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Alexa Kids'
    = action_cable_meta_tag
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Alexa Kids'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    = render 'layouts/navigation'

    #wrapper
      = render 'layouts/messages'
      = render 'layouts/small_header'

      .content.animate-panel
        .row
          .col-lg-12
            .hpanel
              .panel-body
                = yield
      = render 'layouts/footer'