!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title= content_for?(:title) ? yield(:title) : I18n.t(:application_name)
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : I18n.t(:application_name)}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.blank
    .color-line
    .error-container
      = yield
      = link_to 'Go back to dashboard', root_path, class: 'btn btn-xs btn-success'
